@charset "UTF-8";
.masthead-form-group:after, .masthead-form-hor:after, .masthead-main-container:after {
  clear: both; }

.masthead-selectbox label:after, .masthead-topbar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: sukhumvit-text;
  src: url(../fonts/sukhumvitset-text.eot);
  src: url(../fonts/sukhumvitset-text.eot?#iefix) format("embedded-opentype"), url(../fonts/sukhumvitset-text.woff) format("woff"), url(../fonts/sukhumvitset-text.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
.masthead-nav, .masthead-nav-ver {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0; }

.masthead-nav a, .masthead-nav-ver a {
  position: relative;
  text-decoration: none; }

.masthead-nav a:not(.masthead-btn), .masthead-nav-ver a:not(.masthead-btn) {
  display: block;
  color: #333; }

.masthead-nav, .masthead-nav > li {
  display: inline-block; }

.masthead-nav a:focus:not(.masthead-btn), .masthead-nav a:hover:not(.masthead-btn), .masthead-nav-ver a:focus:not(.masthead-btn), .masthead-nav-ver a:hover:not(.masthead-btn) {
  color: #000; }

.masthead-nav a.active:not(.masthead-btn), .masthead-nav a:active:not(.masthead-btn), .masthead-nav-ver a.active:not(.masthead-btn), .masthead-nav-ver a:active:not(.masthead-btn) {
  color: #fff; }

.masthead-nav {
  font-size: 0;
  vertical-align: middle; }

.masthead-nav > li > a {
  font-size: 14px;
  line-height: normal;
  padding: 4px 14px; }

.masthead-nav > .open > a {
  color: #fff; }

.masthead-nav-ver > li {
  display: block; }

.masthead-nav-ver > li > a {
  font-size: 14px;
  text-align: left;
  padding: 4px 8px; }

.masthead-nav-full-width {
  width: 100%;
  display: table; }

.masthead-nav-full-width > li {
  display: table-cell;
  width: 1%;
  margin-bottom: -1px; }

.masthead-nav-hover-bg li > a {
  color: #333; }

.masthead-nav-hover-bg li > a:hover {
  background-color: #f7f7f7 !important;
  color: #000 !important; }

.masthead-nav-hover-bg li > a.active {
  background-color: #ef6931 !important;
  color: #fff !important; }

.masthead-no-nav-link {
  color: #000 !important;
  cursor: default; }

.masthead-ui-icon {
  background-image: url(../images/topbar/os-icon.png);
  float: left;
  width: 26px;
  height: 26px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .masthead-ui-icon {
    background-image: url(../images/topbar/os-icon@2x.png);
    background-size: 176px 86px; } }
.masthead-ui-icon-home {
  background-position: 0 0; }

.masthead-ui-icon-all {
  background-position: -30px 0; }

.masthead-ui-icon-sp {
  background-position: -60px 0; }

.masthead-ui-icon-mobile {
  background-position: -90px 0; }

.masthead-ui-icon-online {
  background-position: -120px 0; }

.masthead-ui-icon-pc {
  background-position: -150px 0; }

.masthead-ui-icon-console {
  background-position: 0 -30px; }

.masthead-ui-icon-shop {
  background-position: -30px -30px; }

.masthead-ui-icon-wiki {
  background-position: -60px -30px; }

.masthead-ui-icon-caster {
  background-position: -90px -30px; }

.masthead-ui-icon-girl {
  background-position: -120px -30px; }

.masthead-ui-icon-download {
  background-position: -150px -30px; }

.masthead-ui-icon-gift {
  background-position: 0 -60px; }

.masthead-ui-icon-tgs {
  background-position: -30px -60px; }

.masthead-dropdown {
  position: relative;
  cursor: pointer; }

.masthead-dropdown:hover .masthead-dropdown-container {
  display: block; }

.masthead-dropdown-container {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.masthead-dropdown-container.active, .masthead-form, .masthead-form .masthead-form-clearable, .masthead-form .masthead-form-group, .masthead-form-hor .masthead-form-clearable, .masthead-form-hor .masthead-form-group {
  display: block; }

.masthead-speech-bubble:after, .masthead-speech-bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0; }

.masthead-speech-bubble:before {
  top: -12px;
  right: 6px;
  border-right: 10px solid transparent;
  border-bottom: 12px solid 1px solid #ddd;
  border-left: 10px solid transparent; }

.masthead-speech-bubble:after {
  top: -10px;
  right: 7px;
  border-right: 9px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 9px solid transparent; }

button, input, textarea {
  outline: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.masthead-btn, .masthead-topbar {
  font-family: sukhumvit-text;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.masthead-form h4, .masthead-form-hor h4, .masthead-form-inline h4 {
  margin: 10px 0; }

.masthead-form {
  margin: 0;
  padding: 0; }

.masthead-form .masthead-label-item {
  display: block;
  padding-bottom: 5px; }

.masthead-form-inline {
  display: inline-block;
  font-size: 0;
  vertical-align: middle; }

.masthead-form-inline .masthead-form-group, .masthead-form-inline .masthead-input-group {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0; }

.masthead-form-inline .masthead-input-group {
  max-width: 280px; }

.masthead-form-inline .masthead-form-group + .masthead-form-group {
  margin-left: 3px; }

.masthead-form-hor:after, .masthead-form-hor:before {
  content: " ";
  display: table; }

.masthead-form-hor .label-item {
  display: inline-block;
  padding: 4px 14px 4px 0; }

.masthead-form-hor .masthead-input-group {
  display: table; }

.masthead-form-footer {
  margin: 10px 0; }

.masthead-label-item {
  display: inline-block;
  font-weight: 700;
  color: #000;
  margin: 2px 0; }

.masthead-hide-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0; }

.masthead-form-item {
  display: block;
  font-size: 14px;
  line-height: normal;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 4px 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc; }

.masthead-form-item:focus, .masthead-form-item:hover {
  border-color: #a6a6a6; }

.masthead-form-group:after, .masthead-form-group:before {
  content: " ";
  display: table; }

textarea.masthead-form-item {
  min-height: 80px;
  overflow: auto;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc; }

textarea.masthead-form-item:focus, textarea.masthead-form-item:hover {
  border-color: #a6a6a6; }

.masthead-form-remark {
  display: block;
  font-size: 11px;
  color: #999;
  margin-top: 5px; }

.masthead-checkbox, .masthead-radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 5px 8px 0;
  margin-top: 0; }

.masthead-checkbox span, .masthead-radio span {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 2;
  width: 18px;
  height: 18px;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc; }

.masthead-checkbox span:focus, .masthead-checkbox span:hover, .masthead-radio span:focus, .masthead-radio span:hover {
  border-color: #a6a6a6; }

.masthead-checkbox label, .masthead-radio label {
  position: relative;
  z-index: 3;
  display: inline-block;
  cursor: pointer;
  padding-left: 22px; }

.masthead-checkbox label:before, .masthead-radio label:before {
  content: '';
  display: block;
  position: absolute; }

.masthead-btn input[type=checkbox], .masthead-btn input[type=radio], .masthead-checkbox input[type=checkbox], .masthead-radio input[type=radio] {
  display: none; }

.masthead-checkbox span {
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.masthead-checkbox input[type=checkbox]:checked + label:before {
  content: '';
  background: 0 0;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 6px;
  border: 3px solid #9c3;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.masthead-radio span {
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.masthead-radio input[type=radio]:checked + label:before {
  content: '';
  background: #9c3;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.masthead-selectbox {
  display: inline-block;
  font-size: 0;
  vertical-align: middle; }

.masthead-selectbox select {
  display: block;
  font-size: 14px;
  max-width: 450px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
  overflow: hidden;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  padding: 4px 34px 4px 14px; }

.masthead-selectbox select:focus, .masthead-selectbox select:hover {
  border-color: #a6a6a6; }

.masthead-selectbox label {
  position: relative;
  display: inline-block; }

.masthead-selectbox label:after, .masthead-selectbox label:before {
  content: '';
  position: absolute;
  pointer-events: none; }

.masthead-selectbox label:after {
  top: 50%;
  right: 10px;
  z-index: 2;
  width: 0;
  height: 0;
  line-height: 1;
  border: 1px solid transparent;
  border-top-color: #333;
  border-width: 4px 4px 0;
  margin-top: -2px;
  padding: 0 0 2px; }

.masthead-selectbox label:before {
  background-color: #fff;
  display: block;
  top: 3px;
  right: 1px;
  z-index: 1;
  width: 29px;
  height: 29px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.masthead-file {
  display: block; }

.masthead-file .masthead-file-name {
  display: inline-block;
  font-size: 0;
  min-width: 300px;
  vertical-align: middle; }

.masthead-file .masthead-file-upload {
  position: relative;
  overflow: hidden; }

.masthead-file .masthead-file-upload .upload-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0;
  padding: 0; }

.masthead-form-clearable {
  position: relative;
  display: inline-block; }

.masthead-form-clearable .clear-text {
  display: none;
  position: absolute;
  top: 50%;
  right: 6px;
  z-index: 10;
  text-align: center;
  width: 16px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
  margin-top: -8px; }

.masthead-btn, .masthead-btn-group {
  display: inline-block;
  vertical-align: middle; }

.masthead-form-circle {
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.masthead-btn {
  background-color: transparent;
  position: relative;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: normal;
  outline: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 4px 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.masthead-agreement .masthead-modal h3, .masthead-remark a {
  text-decoration: underline; }

.masthead-btn.no-cursor {
  cursor: default; }

.masthead-btn-primary {
  background-color: #ef6931;
  color: #fff;
  border-color: #ed5819; }

.masthead-btn-primary.active, .masthead-btn-primary:active, .masthead-btn-primary:hover {
  background-color: #ed5819;
  color: #fff;
  border-color: #c4450f; }

.masthead-btn-primary.active, .masthead-btn-primary:active {
  background-image: none; }

.masthead-btn-secondary {
  background-color: #222;
  color: #fff;
  border-color: #151515; }

.masthead-btn-secondary.active, .masthead-btn-secondary:active, .masthead-btn-secondary:hover {
  background-color: #151515;
  color: #fff;
  border-color: #000; }

.masthead-btn-secondary.active, .masthead-btn-secondary:active {
  background-image: none; }

.masthead-btn-facebook {
  background-color: #265999;
  color: #fff;
  border-color: #214d85; }

.masthead-btn-facebook.active, .masthead-btn-facebook:active, .masthead-btn-facebook:hover {
  background-color: #214d85;
  color: #fff;
  border-color: #17355c; }

.masthead-btn-facebook.active, .masthead-btn-facebook:active {
  background-image: none; }

.masthead-btn-link {
  background-color: transparent;
  color: #fff; }

.masthead-btn-link:hover {
  color: #ef6931; }

.masthead-btn-block {
  display: block;
  text-align: center;
  width: 100%; }

.masthead-btn-block + .btn-block {
  margin-top: 5px; }

.masthead-btn-circle {
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.masthead-btn-social {
  padding: 2px 4px; }

.masthead-btn-group > .masthead-btn-group:not(:first-child):not(:last-child) > .masthead-btn, .masthead-btn-group > .masthead-btn:not(:first-child):not(:last-child):not(.masthead-dropdown-toggle) {
  -webkit-border-radius: 0;
  border-radius: 0; }

.masthead-btn-group > .masthead-btn:first-child:not(:last-child):not(.masthead-dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.masthead-btn-group > .masthead-btn:last-child:not(:first-child), .masthead-btn-group > .masthead-dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.masthead-back2top-btn {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1200;
  text-align: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s; }

.masthead-back2top-btn:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.masthead-btn-group {
  position: relative; }

.masthead-btn-group > .masthead-btn {
  position: relative;
  float: left; }

.masthead-btn-group > .masthead-btn:first-child {
  margin-left: 0; }

.masthead-btn-group .masthead-btn + .masthead-btn, .masthead-btn-group .masthead-btn + .masthead-btn-group, .masthead-btn-group .masthead-btn-group + .masthead-btn, .masthead-btn-group .masthead-btn-group + .masthead-btn-group, .masthead-form-clearable + .masthead-input-group-btn .masthead-btn {
  margin-left: -1px; }

.masthead-btn-group > .masthead-btn-group:not(:first-child):not(:last-child) > .masthead-btn, .masthead-btn-group > .masthead-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  -webkit-border-radius: 0;
  border-radius: 0; }

.masthead-btn-group > .masthead-btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.masthead-btn-group > .dropdown-toggle:not(:first-child), .masthead-btn-group > .masthead-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px); }
  80% {
    -webkit-transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }
  60% {
    opacity: 1;
    transform: translateY(30px); }
  80% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
.masthead-main-container {
  margin: 0 auto; }

.masthead-main-container:after, .masthead-main-container:before {
  content: " ";
  display: table; }

@media only screen and (min-width: 320px) {
  .masthead-main-container {
    width: 100%; } }
@media only screen and (min-width: 1170px) {
  .masthead-main-container {
    width: 1045px; } }
@media only screen and (min-width: 320px) {
  .masthead-btn-navbar {
    width: 45px;
    margin: 0;
    padding: 14px 0; } }
@media only screen and (min-width: 1170px) {
  .masthead-btn-navbar {
    width: auto;
    margin: 10px 0;
    padding: 4px 14px; } }
.masthead-btn-social-navbar {
  margin: 10px 0;
  padding: 4px 8px !important; }

.masthead-form-navbar {
  margin: 10px 0; }

.masthead-nav-navbar > li > a {
  line-height: 1.42857143;
  padding: 15px 0; }

.masthead-brand + .masthead-form-navbar, .masthead-brand + .masthead-nav-navbar, .masthead-brand + .masthead-rs-nav {
  float: left;
  margin-left: 15px; }

.masthead-btn-navbar.masthead-btn-small {
  margin: 12px 0; }

.masthead-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  box-sizing: border-box; }

.masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signin, .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signup {
  font-family: sukhumvit-text, FontAwesome; }

.masthead-topbar .masthead-primary-container {
  background-color: #222; }

.masthead-topbar .masthead-primary-container .masthead-mobile-nav {
  float: left; }

.masthead-topbar .masthead-primary-container .masthead-brand {
  height: 50px;
  line-height: 50px;
  margin: 0 auto; }

.masthead-topbar .masthead-primary-container .masthead-brand a {
  background: url(../images/topbar/online-station-logo.png) center left no-repeat;
  display: block;
  width: 100%;
  height: 100%; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .masthead-topbar .masthead-primary-container .masthead-brand a {
    background-image: url(../images/topbar/online-station-logo@2x.png);
    background-size: 42px 32px; } }
@media only screen and (min-width: 320px) {
  .masthead-topbar .masthead-primary-container .masthead-brand {
    position: absolute;
    right: 50%;
    float: none;
    width: 42px;
    margin-right: -16px; } }
@media only screen and (min-width: 1170px) {
  .masthead-topbar .masthead-primary-container .masthead-brand {
    position: relative;
    right: 0;
    float: left;
    width: 42px;
    margin-right: 15px; } }
.masthead-topbar .masthead-primary-container .masthead-search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (min-width: 320px) {
  .masthead-topbar .masthead-primary-container .masthead-search {
    background-color: #333;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    float: none;
    width: 100%;
    padding: 0 8px; } }
@media only screen and (min-width: 1170px) {
  .masthead-topbar .masthead-primary-container .masthead-search {
    background-color: transparent;
    position: relative;
    top: 0;
    display: block;
    float: left;
    width: auto;
    padding: 0; } }
.masthead-topbar .masthead-primary-container .masthead-search .masthead-search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  font-size: 14px;
  color: #ccc;
  text-align: center;
  line-height: 16px;
  width: 16px;
  height: 16px;
  margin-top: -8px; }

.masthead-topbar .masthead-primary-container .masthead-search .masthead-search-navbar {
  background-color: #464646;
  color: #ddd;
  border-color: transparent;
  padding-left: 30px; }

.masthead-topbar .masthead-primary-container .masthead-search .masthead-search-navbar:hover {
  background-color: #606060;
  border-color: transparent; }

.masthead-topbar .masthead-primary-container .masthead-search .masthead-search-navbar:focus {
  background-color: #fff;
  color: #666;
  border-color: transparent; }

@media only screen and (min-width: 320px) {
  .masthead-topbar .masthead-primary-container .masthead-search .masthead-search-navbar {
    width: 100%; }

  .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signin:before {
    content: "\f13e"; } }
.masthead-topbar .masthead-primary-container .masthead-user {
  float: right;
  font-size: 0; }

@media only screen and (min-width: 1170px) {
  .masthead-topbar .masthead-primary-container .masthead-search .masthead-search-navbar {
    width: 400px; }

  .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signin:before {
    content: "\f13e  เข้าสู่ระบบ"; } }
@media only screen and (min-width: 320px) {
  .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signup {
    background-color: #222;
    border-color: #222; }

  .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signup:before {
    content: "\f234"; }

  .masthead-topbar .masthead-primary-container .masthead-os-social {
    display: none; } }
.masthead-topbar .masthead-primary-container .masthead-os-social {
  float: right;
  margin-right: 10px; }

@media only screen and (min-width: 1170px) {
  .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signup {
    background-color: #ef6931;
    border-color: #ef6931; }

  .masthead-topbar .masthead-primary-container .masthead-user .masthead-user-signup:before {
    content: "\f234  สมัครสมาชิก"; }

  .masthead-topbar .masthead-primary-container .masthead-os-social {
    display: block; } }
.masthead-topbar .masthead-primary-container .masthead-mobile-search {
  float: right;
  margin-right: -1px; }

.masthead-topbar .masthead-mainnav-container {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }

@media only screen and (min-width: 320px) {
  .masthead-topbar .masthead-mainnav-container {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1001;
    width: 220px;
    height: 100vh;
    text-align: left;
    overflow: scroll;
    transition: all .25s ease-in-out; } }
@media only screen and (min-width: 1170px) {
  .masthead-topbar .masthead-mainnav-container {
    position: relative;
    left: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: inherit;
    transition: none; } }
.masthead-topbar .masthead-member-profile {
  font-size: 0;
  padding: 9px 6px; }

.masthead-topbar .masthead-member-profile .member-avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden; }

.masthead-topbar .masthead-member-profile .member-name {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  line-height: 32px;
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  padding-left: 5px; }

@media only screen and (min-width: 320px) {
  .masthead-topbar .masthead-member-profile .member-name {
    display: none; } }
@media only screen and (min-width: 1170px) {
  .masthead-topbar .masthead-member-profile .member-name {
    display: inline-block; } }
.masthead-topbar .masthead-sub-member-nav {
  width: 150px;
  padding: 12px 7px; }

.masthead-close-left-nav {
  background-color: #fff;
  font-size: 14px;
  color: #222;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding-left: 15px; }

.masthead-close-left-nav h3 {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 0 10px; }

@media only screen and (min-width: 320px) {
  .masthead-close-left-nav {
    display: block; } }
@media only screen and (min-width: 1170px) {
  .masthead-close-left-nav {
    display: none; } }
.masthead-main-nav {
  width: 100%; }

@media only screen and (min-width: 320px) {
  .masthead-main-nav > li {
    display: block;
    width: 100%; }

  .masthead-main-nav > li > a {
    font-size: 14px !important;
    padding: 10px !important; }

  .masthead-main-nav .masthead-dropdown > a {
    display: none; } }
@media only screen and (min-width: 1170px) {
  .masthead-main-nav > li {
    display: inline-block;
    width: auto; }

  .masthead-main-nav > li > a {
    font-size: 18px !important;
    padding: 15px 10px !important; }

  .masthead-main-nav .masthead-dropdown > a {
    display: inline-block; } }
@media only screen and (min-width: 320px) {
  .masthead-sub-nav {
    position: relative;
    display: block;
    width: 100%;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .masthead-sub-nav a {
    padding: 10px !important; }

  .masthead-avatar-preview {
    margin: 0; } }
@media only screen and (min-width: 1170px) {
  .masthead-sub-nav {
    position: absolute;
    display: none;
    width: 150px;
    border-style: solid;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

  .masthead-sub-nav a {
    padding: 15px !important; } }
@media only screen and (min-width: 768px) {
  .masthead-avatar-preview {
    margin: 0 0 0 120px;
    padding-left: 10px; } }
.masthead-form-title {
  margin-top: 4px; }

.masthead-form-inside {
  color: #666; }

.masthead-form-inside a {
  color: #333; }

.masthead-form-inside a:hover {
  color: #000; }

@media only screen and (min-width: 320px) {
  .masthead-form-title {
    float: none;
    text-align: left;
    width: 100%; }

  .masthead-form-inside {
    margin-left: 0; } }
@media only screen and (min-width: 768px) {
  .masthead-form-title {
    float: left;
    text-align: right;
    width: 130px; }

  .masthead-form-inside {
    margin-left: 130px;
    padding-left: 10px; } }
.masthead-form-inside p {
  color: #999;
  height: 30px;
  margin: 0;
  padding: 5px 0; }

.masthead-form-act {
  text-align: center;
  margin: 10px 0; }

@media only screen and (min-width: 320px) {
  .masthead-form-act .masthead-btn {
    display: block;
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .masthead-form-act .masthead-btn {
    display: inline-block;
    width: auto; } }
.masthead-remark {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0; }

.masthead-remark a {
  color: #ef6931; }

.masthead-remark a:hover {
  color: #666; }

.masthead-agreement .masthead-modal .masthead-remark {
  font-size: 12px;
  color: #ff0004; }

.masthead-agreement .masthead-modal .masthead-act {
  text-align: center; }

@media only screen and (min-width: 320px) {
  .masthead-agreement .masthead-modal {
    width: 90%; } }
@media only screen and (min-width: 1170px) {
  .masthead-agreement .masthead-modal {
    width: 800px !important; } }
.masthead-loading {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.masthead-loading .masthead-status {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  width: 300px;
  height: 40px;
  margin-left: -150px;
  margin-top: -20px; }

.masthead-uix-btn-icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px; }

.masthead-uix-btn-content {
  display: inline-block; }

.masthead-border-radius {
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.masthead-close-mainmenu {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 320px) {
  .show-only-mobile {
    display: inline-block; }

  .masthead-content {
    margin-top: 50px; } }
@media only screen and (min-width: 1170px) {
  .show-only-mobile {
    display: none !important; }

  .masthead-content {
    margin-top: 110px; } }
.show-hide-mainmenu .masthead-mainnav-container {
  left: 0; }

.show-hide-mainmenu .masthead-close-mainmenu {
  display: block;
  z-index: 1000; }

.show-hide-search .masthead-search {
  display: block !important; }

.masthead-content {
  font-family: sukhumvit-text;
  padding: 15px; }

.masthead-content-container {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.masthead-message-status, .masthead-modal-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

@media only screen and (min-width: 320px) {
  .masthead-content-container {
    width: 100%; } }
@media only screen and (min-width: 1170px) {
  .masthead-content-container {
    width: 1050px; } }
.masthead-content-container h1 {
  font-size: 24px;
  border-bottom: 3px solid #ddd;
  margin: 0 0 20px;
  padding: 0 0 10px; }

.masthead-content-container > p {
  font-size: 14px;
  color: #666; }

.masthead-content-container .user-thumbnail {
  overflow: hidden;
  margin: 5px auto 20px; }

@media only screen and (min-width: 320px) {
  .masthead-content-container .user-thumbnail {
    width: 120px;
    height: 120px; } }
@media only screen and (min-width: 1170px) {
  .masthead-content-container .user-thumbnail {
    width: 150px;
    height: 150px; } }
.masthead-content-container .user-thumbnail img {
  width: 100%;
  height: 100%; }

.masthead-content-container .backtohome, .masthead-content-container .massage {
  text-align: center; }

@media only screen and (min-width: 320px) {
  .masthead-content-container .masthead-content-form {
    width: 100%;
    margin: 0 auto; } }
@media only screen and (min-width: 1170px) {
  .masthead-content-container .masthead-content-form {
    width: 600px; } }
.masthead-content-container .masthead-content-loading {
  font-size: 20px;
  text-align: center;
  padding: 50px 0; }

.masthead-message-status {
  width: 100%;
  border: 1px solid;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box; }

.masthead-message-status.masthead-message-status-error {
  background-color: #ffe6e7;
  color: #ff000b;
  border-color: #ff000b; }

.masthead-message-status.masthead-message-status-success {
  background-color: #f5fbe7;
  color: #90c41f;
  border-color: #90c41f; }

.masthead-modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
  box-sizing: border-box; }

.masthead-modal-content.show {
  display: block; }

.masthead-modal {
  background-color: #fff;
  position: relative;
  font-family: sukhumvit-text, Tahoma, Arial, "lucida grande", tahoma, verdana, arial, sans-serif;
  color: #666;
  border-top: 5px solid #ef6931;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18); }

@media only screen and (min-width: 320px) {
  .masthead-modal {
    width: 90%;
    margin: 80px auto;
    padding: 15px; }

  .masthead-modal h5 span {
    display: block; } }
@media only screen and (min-width: 1170px) {
  .masthead-modal {
    width: 540px;
    margin: 120px auto;
    padding: 20px; } }
.masthead-modal .masthead-btn-close-modal {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px !important; }

.masthead-modal h5 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 20px; }

.masthead-modal h5 span {
  color: #ef6931; }

@media only screen and (min-width: 768px) {
  .masthead-modal h5 span {
    display: inline-block; } }
.noscroll {
  overflow: hidden; }


